*{
    margin: 0px 0px 0px 0px;
    padding: 0px 3px 0px 3px;
}

header{
    height: 100px;
    width: 100%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: teal;
    line-height: 100px;
    background-color: lightblue;
}

ol{
    margin-left: 15px;
}

a img{
    border-radius: 20px;
}

.posts{
    background-color: aliceblue;
    display: flexbox;
    grid-template-rows: 1fr 1fr 1fr;
}

.postall{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: 10px 5px 10px 5px;
    row-gap: 10px;
}

.postrow1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    row-gap: 30px;
    list-style-type: upper-roman;
}

.ulgrid{
    display: grid;
    grid-template-columns: 20% 20%;
}

.listas{
    background-color: rgb(228, 241, 253);
}

#title2{
    text-align: center;
    color: rgb(63, 63, 240);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}